* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Base background color */
    background-color: #e8f6ff;  /* #f3f3f3, #b4c5d9 */
    
    color: #1a1a1a;

    font-family: "Open Sans", sans-serif;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('../assets/images/noise.png');

    opacity: 0.8;

    z-index: -1;
    pointer-events: none;
}

h1 {
    font-size: 4rem; /* Large font size for impact */
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-family: "Playfair Display", serif;
    font-style: normal;
}

h2, h3 {
    /* This sets the font for all headings */
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

/*-------------------------------------*\
  NAVBAR STYLES
\*-------------------------------------*/

header {
    display: flex;
    
    justify-content: space-between; 
    
    align-items: center; 
    
    padding: 2rem 3rem;
}

.logo a, nav a {
    text-decoration: none; 
    color: #1a1a1a; 
    font-weight: 600;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none; 
    display: flex; 
}

nav li {
    margin-left: 2.5rem; 
}

nav a:hover, .logo a:hover {
    color: #888; 
}

/*-------------------------------------*\
  HERO SECTION STYLES
\*-------------------------------------*/


.hero-section {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 2rem; 

    max-width: 1300px;
    margin: 0 auto;
    padding: 6rem 3rem; 
}

.subtitle {
    display: flex;
    font-size: 1.8rem; 
    font-weight: 500;
    line-height: 1.2;
    font-family: "Playfair Display", serif;
}

.subtitle1 {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

.subtitle2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    
    font-style: italic;
    font-weight: 200;
}

.hero-content {
    flex: 1; 
    max-width: 600px;
}


.update-box {
    background-color: #1a1a1a;
    color: #f3f3f3;
    border-radius: 16px;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    max-width: 450px;
}

.update-box p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    line-height: 1.5;
}

.update-tag {
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #1a1a1a;
    background-color: #f3f3f3;
}

.intro-text {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0 1rem 0;
    max-width: 500px;
}

.intro-text strong {
    font-weight: 600; 
}

.dotted-grid {
    width: 300px;
    height: 600px;
    background-image: radial-gradient(circle, #16181b 2px, transparent 1px);
    background-size: 45px 45px;
}